.skewed {
  display: inline-block;
  font: 2em/1 Inter, sans-serif;
  position: absolute;
  right: 120px;
  top: 275px;
  transform: rotate(-43deg) skew(-43deg, 0);
  letter-spacing: 0.1em;
  text-align: center;
}

.skewed span {
  color: RGBA(0, 0, 0, 1.00);
  padding: .2em;
  position: relative;
  text-transform: uppercase;
  font-size: 0.6em;
}
