@font-face {
  font-family: 'comic';
  src: url('./laffayette_comic_pro-webfont.woff2') format('woff2'),
       url('./laffayette_comic_pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.comic {
  font-family: 'comic', cursive;
  letter-spacing: 0.01em;
}