
.main > a {
    white-space: normal !important;
    background: gold;
}

.logo {
    width: 160px;
    height: 160px;
}

@media (min-width: 768px) {

    .logo {
        width: 210px;
        height: 210px;
    }

}