

.logo {
    width: 160px;
    height: 160px;
}

.cabecera {
    width: 110px;
}


@media (min-width: 568px) {
    .logo {
        width: 210px;
        height: 210px;
    }
}

@media (min-width: 850px) {
    .cabecera {
        width: 180px;
    }
    .logo {
        width: 230px;
        height: 230px;
    }

}
