.skewed {
	display: inline-block;
	font: 2em/1 Inter, sans-serif;
	position: absolute;
	right: 120px;
	top: 275px;
	transform: rotate(-43deg) skew(-43deg, 0);
	letter-spacing: 0.1em;
	text-align: center;
}

.skewed span {
	color: RGBA(0, 0, 0, 1.00);
	padding: .2em;
	position: relative;
	text-transform: uppercase;
	font-size: 0.6em;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 5px;
}

.floatingSat {
	animation-name: floatingSat;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 5px;
}

.star {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(237, 205, 163, 0.8);
	box-shadow: 0 0 40px 0 rgba(237, 205, 163, 0.8), 0 0 20px 0 #FFFFFF;
	animation: glow 5s infinite;
}

.flicker {
	animation: flicker 1200ms infinite;
	fill: white;
}

.rotate {
	animation: rotate 2s infinite linear;
}

@keyframes glow {
	0% {
		opacity: 0.9;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.9;
	}
}

.comet {
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
	top: 0;
	left: 80%;
	opacity: 0.3;
	transform: rotate(-45deg) translate(0, -50px);
	animation: comet 6s infinite;
}

.dog {
	animation: dog 5s infinite;
}

@keyframes dog {
	0% {
		transform: translate(50vw, 0vw);
	}
	50% {
		transform: translate(10vw, 200vw);
	}
	100% {
		transform: translateX(30vw);
	}
}

.soporte {
	box-shadow: 10px 10px 0px 10px rgba(0, 0, 0, 1);
}

.comet:after {
	content: '';
	width: 20vw;
	height: 6px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 20px rgba(237, 205, 163, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes comet {
	0% {
		transform: rotate(-45deg) translateX(0);
		opacity: 0.3;
	}
	10% {
		opacity: 1;
	}
	20% {
		transform: rotate(-45deg) translateX(-100vw);
		opacity: 0;
	}
	100% {
		transform: rotate(-45deg) translateX(-100vw);
		opacity: 0;
	}
}

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 15px);
	}
	to {
		transform: translate(0, -0px);
	}
}

@keyframes floatingSat {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 30px);
	}
	to {
		transform: translate(0, -0px);
	}
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}