.burguer-wrapper {
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 101;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	flex-wrap: wrap;
	z-index: 100;
	opacity: 0.9;
	width: 32px;
	height: 34px;
	cursor: pointer;
}

.burguer-wrapper>a {
	text-decoration: none;
	font-size: 1.7em;
	letter-spacing: 0.1em;
	font-weight: 700;
}

.navSquares {
	background: var(--background-color);
	height: 6px;
	width: 100%;
	border: 1px solid var(--foreground-color);
	box-sizing: content-box;
	transition: all 200ms;
}


.burguer-wrapper:hover > .navSquares {
	background: var(--foreground-color);
	border: 1px solid var(--background-color);
}

@media (max-width: 440px) {
	.burguer-wrapper,
	.modal {
		top: 20px;
		left: 20px;
	}
}
